@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passero+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
*{
    margin: 0px;
    padding: 0px;

}
:root{
    --fonte1: verdana, geneva, tahoma, sans-serif;
    --fonte2: 'passion one', cursive;
    --fonte3:  "Sriracha", cursive;
}
html, body{
    font-family: var(--fonte1);
    min-height: 100vh;
    background-color: darkgray;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header>h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 10%vh;
}

header>p{
    padding-bottom: 50px;
}
a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
a:hover{
    text-decoration: underline;
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 10%vh;
}
section>p{
    padding-bottom: 2em;
}

section.normal{
    background-color: white;
    color: black;
}
section.imagem{
    background-color: rgb(51, 51, 51);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgb(0, 0, 0, 0.043);
    background-size: cover;
    background-attachment: fixed;

}
section.imagem>p{
    display: inline-block;
    width: 400px;
    background-color: rgb(0, 0, 0.5);
    text-shadow: 2px 2px 0px black; 
}

section#img001{
    background-image: url('../imagens/background001.jpg');
    background-position: right center;
}
section#img002{
    background-image: url('../imagens/background002.jpg');
}






footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}