@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}
body{
    background-image: linear-gradient(to right, #009688,#44E3D3);
}
main{
background-color: white;
border-radius: 10px;
box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.417);
width: 600px;
padding: 10px;
margin: auto;

}
h1{
    color: #32A89C;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(158, 129, 129, 0.505);
}
h2{
    color: #00635A;
}
p{
    text-align: justify;
}